@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0px;
}
.product__shop {
  font-size: 35px;
}

.filter__inner {
  display: flex;
  align-items: center;
  margin-left: 180px;
  margin-top: 50px;
}

.nav__two {
  display: flex;
  font-size: 15px;
  line-height: 25px;

  margin-left: 600px;
  margin-top: 50px;
}
.sort__selected {
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 17px;
}

.type__shop {
  width: 200px;
}
.filter__name-by {
  line-height: 25px;
  font-size: 26px;
  margin-top: 50px;
}
.hr__one {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.drop__down-col {
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}
.filter__coll-all {
  width: 200px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  line-height: 25px;
  cursor: pointer;
}
.filter__coll-nav {
  text-decoration: none;
  color: gray;
  display: block;
  line-height: 25px;
  cursor: pointer;
}
.drop__down-color {
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-color-1 {
  background-color: #6aa84f;
  border: 3px double #c9c9c9;
  height: 25px;
  width: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}
.btn-color-1:hover {
  background-color: #8fbe7b;
}
.btn-color-2 {
  background-color: #21776e;
  border: 3px double #c9c9c9;
  height: 25px;
  width: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}
.btn-color-2:hover {
  background-color: #599992;
}
.btn-color-3 {
  background-color: #cfe1f2;
  border: 3px double #c9c9c9;
  height: 25px;
  width: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}
.btn-color-3:hover {
  background-color: #dbe9f6;
}
.btn-color-4 {
  background-color: #f4cccc;
  border: 3px double #c9c9c9;
  height: 25px;
  width: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}
.btn-color-4:hover {
  background-color: #f7d9d9;
}
.btn-color-5 {
  background-color: #ea9999;
  border: 3px double #c9c9c9;
  height: 25px;
  width: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}
.btn-color-5:hover {
  background-color: #efb3b3;
}
.btn-color-6 {
  background-color: white;
  border: 3px double #c9c9c9;
  height: 25px;
  width: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}
.btn-color-1:hover {
  background-color: white;
}
