@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-top: 50px;
  font-size: 15px;
  line-height: 30px;
}

.emaill {
  line-height: 30px;
  height: 40px;
  width: 320px;
  padding-left: 20px;
  color: black;
}
.emaill:hover {
  border: 3px solid black;
}
.emaill:focus {
  border: 3px solid black;
}
.power {
  background-color: #f8a888;
  border: none;
  color: black;
  width: 121px;
  height: 40px;
  margin-left: 7px;
  line-height: 30px;
}
.power:hover {
  background-color: #fdd7c5;
  cursor: pointer;
  transition: 0.7s;
}
.social-icons {
  padding-top: 40px;
  padding-bottom: 10px;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
}

.social-icons li img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.under__footer {
  padding-bottom: 10px;
}
